.m-containerHome {
  display: flex;
  min-width: 97vw;
  min-height: 100vh;
  flex-direction: column;
}

.m-gridProducts {
  display: flex;
  flex: 1;
  overflow: auto;

  margin: 1rem;
}

.m-containerHomeFooter {
  display: none;
}

/*850px*/
@media (max-width: 53.125em) {
  .m-containerHomeFooter {
    display: flex;

    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }
}
