.container {
  display: flex;
  min-width: 97vw;
  min-height: 99vh;
  flex-direction: column;

  border: 1px solid red;
}

.header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  max-height: 3rem;
  font-size: 1.8rem;
  color: white;
  font-weight: 700;
  background-color: rgba(255, 0, 0, 0.7);
}

.coverImage {
  display: flex;
  height: 7rem;
}

.coverImage img {
  width: 100%;
}

.tagSearch {
  display: flex;

  height: 10rem;
  border: 1px solid blue;
}

.products {
  display: flex;
  flex: 1;

  border: 2px solid green;
}
