.c-containerHeader {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.c-containerHeader__header {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  color: white;
  font-weight: 700;
  background-color: var(--secundaryColorLight);
}

.c-containerHeader__headerSecundary {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 15rem 1fr 20rem 20rem;
  grid-template-rows: 7.5rem;
  gap: 0 0.2rem;
  grid-template-areas: "logo search login cart";
  background-color: var(--primaryColorLight);
}

.c-containerHeader__logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
}

.c-containerHeader__logo img {
  position: absolute;
  width: 10rem;
  height: 9.5rem;
  top: 0.4rem;
  left: 1rem;
  cursor: pointer;
}

.c-containerHeader__inputSearch {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-containerHeader__login {
  grid-area: login;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.c-containerHeader__textLogin {
  font-weight: 300;
  margin-left: 0.8rem;
  font-size: 1.6rem;
}

.c-containerHeader__cart--desktop {
  grid-area: cart;
  display: flex;
  cursor: pointer;

  background: var(--primaryColor);
  filter: grayscale(50%) brightness(110%);
}

@media (max-width: 53.125em) {
  .c-containerHeader__headerSecundary {
    grid-template-columns: 8rem 1fr 15rem;
    grid-template-rows: 5.5rem;
    grid-template-areas: "logo search login";
  }

  .c-containerHeader__login {
    justify-content: flex-end;
  }

  .c-containerHeader__logo img {
    position: relative;
    width: 5rem;
    height: 4.5rem;
    cursor: pointer;
  }

  .c-containerHeader__cart--desktop {
    display: none;
  }
}

@media (max-width: 27.5em) {
  .c-containerHeader__headerSecundary {
    grid-template-columns: 8rem 1fr;
    grid-template-rows: 5.5rem 3.5rem;
    grid-template-areas:
      "logo login"
      "search search";
  }

  .c-containerHeader__logo {
    justify-content: flex-start;
  }

  .c-containerHeader__login {
    justify-content: flex-end;
  }

  .c-containerHeader__logo img {
    position: relative;
    width: 5rem;
    height: 4.5rem;
    cursor: pointer;
  }
}
