.c-backdropModalAddItems {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 85%);
  width: 100vw;
  min-height: 100vh;
}

.c-containerModalItems {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 0.5rem;
  justify-content: flex-start;
  width: 26rem;
  height: 37.2rem;
  background: var(--primaryColorLight);
}

.c-ModalItemsButtonConfirm {
  width: 94.4%;
  cursor: pointer;
  height: 4.7rem;
  border-radius: 3rem;
  background: var(--primaryColorDark);
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
}

.c-continerModalItems__closed {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}

.c-ModalItemsImageDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 20rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0;

  background: white;

  border: 0.1rem solid black;
}

.c-ModalItems__Image {
  width: 22rem;
  height: 13rem;
}

.c-ModalItems__Image img {
  width: 22rem;
  height: 13rem;
}

.c-ModalItems__NamePrice {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.m-ModalItems__name {
  text-align: center;
  max-height: 4rem;
  width: 22rem;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-ModalItems__price {
  font-size: 2.2rem;
  font-weight: 600;
}

.m-ModalItems__price span {
  font-size: 1.6rem;
  font-weight: 300;
}

.c-ModalItems--ButtonQuantity {
  display: flex;
  width: 20rem;
  height: 3.1rem;
  padding: 0.5rem;
  border-radius: 3rem;
  background: var(--secundaryColorLight);

  align-items: center;
  justify-content: space-between;
}

.c-ModalItems--ButtonQuantity p {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}
