:root {
  --primaryColor: #77b1a9;
  --primaryColorLight: #b1e6d1;
  --primaryColorDark: #3d7b80;
  --secundaryColor: #270a33;
  --secundaryColorLight: #451a3e;
}

::-webkit-scrollbar-track {
  background-color: var(--primaryColorLight);
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.2rem;
  background: var(--primaryColorDark);
}
::-webkit-scrollbar-thumb {
  background: var(--primaryColorDark);
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  padding: 0;
}
