.m-containerListProducts__buttonBuy {
  display: flex;
  width: 100%;
}

.m-containerListProducts__buttonBuy button {
  width: 100%;
  cursor: pointer;
  margin: 0 1rem 1rem 1rem;
  height: 4.7rem;
  border-radius: 3rem;
  background: var(--secundaryColor);
  border: none;
}

.m-containerListProducts__buttonIconText--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-containerListProducts__buttonIconText--spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m-containerListProducts__buttonBuy button p {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.m-containerListProducts__buttonText {
  margin-left: 1rem;
}

@media (max-width: 550px) {
  .m-containerListProducts__buttonBuy {
    /* display: none; */
  }
}
